* {
    padding: 0;
    margin: 0; 
}
.step-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.step {
    border: 2px solid #666EE8;
    color: #666EE8;
    padding: 10px 15px;
    border-radius: 5px;
    position: relative;
}
.head {
    font-weight: 300;
}
.step:hover {
    cursor: pointer;
}
.new {
    background: rgb(238, 238, 238);
    color: rgb(121, 121, 121);
    border: 2px solid rgb(226, 226, 226);
}
.active,
.done {
    color: white;
    background: #666EE8;
    border: 2px solid #666EE8;
}

.new::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    margin-bottom: -8px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 8px solid rgb(226, 226, 226) !important;
}
.border-lite {
    border: 1px solid rgb(228, 228, 228);
    border-radius: 2px;
}
.step::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    margin-bottom: -8px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 8px solid #666EE8;
}
.flex-h {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    /* background: #666EE8; */
}
.flex-end {
    justify-content: flex-end;
}
.btn-no-radius {
    border-radius: 0px;
}
.flex1 {
    flex: 1;
}
.flex3 {
    flex: 3;
    background: green;
}
.line {
    border: 1px solid rgb(219, 219, 219);
    align-self: flex-start;
    margin-top: 25px;
}
.line-active {
    border: 1px solid #666EE8; 
    align-self: flex-start;
    margin-top: 25px;
}
.card-container {
    width: 400px;
    position: absolute;
    z-index: 2;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    align-items: center;
    justify-content: space-around;  
    
}
.font {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.font-adjust {
    font-size: 60px;
    width: 90px;
    padding: 10px;
    margin: 10px;
    border: 5px solid #28D094;
    border-radius: 200px;
}
.number {
    color: #535BE2;
    font-size: 30px;
    align-self: flex-start;
    margin-top: -30px;
}

.border-right-edit {
    border-right: 1px  solid rgba(136, 136, 136, 0.3);
}
.icon-person {
    color: #535BE2;
    font-size: 10px;
}
.flex-v {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.font-icon {
    font-size: 28px;
    color: red;
}
.font-icon:hover {
    cursor: pointer;
}
.save { 
    padding: 10px;
    width: 120px;
}
.pos-float {
    position: absolute;
    top: 0%;
    left: 50%;
    background: red;
    z-index: 100;
    transform: translate(-50%, -10%);
    padding: 10px;
    border-radius: 2px;
}
.pos-float p {
    font-size: 16px;
    padding: 0;
    margin: 0;
    color: white;
    font-style: italic;
}