.link {
	text-decoration: none;
	color: #333;
	font-size: 16px;
}
.link:hover {
	text-decoration: none;
	color: rgb(99, 97, 97);
}
@media only screen and (max-width: 450px) {
	.mobile-disbale {
		display: none;
	}
	.mob-jes-center {
		justify-content: center !important; 
	}
}
.card-container {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.card-event {
	width: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	flex-direction: column;
	background: #333;
	border-radius: 5px;
}
.card-img {
	width: 140px;
}


@media only screen and (max-width: 750px) {
	.card-event {
		width: 150px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 10px;
		background: #333;
		border-radius: 5px;
	}
	.card-img {
		width: 100px;
	}
}

@media only screen and (max-width: 500px) { 
	.card-event {
		width: 150px;
	}
	.card-img {
		width: 100px;
	}
}

@media only screen and (max-width: 370px) { 
	.card-event {
		width: 120px;
	}
	.card-img {
		width: 80px;
	}
}
.bg-darky {
	background: rgb(48, 48, 48);
}
.br-2 {
	border-radius: 2px;
}